/* BELOW 1199PX */
@media only screen and (max-width: 74.9375em) {
  html {
    font-size: 60.5%;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  #home {
    padding-top: 40rem;
    height: 77vh !important;
  }
  .home-content-main {
    max-width: 80rem;
    padding-top: 20rem;
  }
  .home-content h3 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .home-content h1 {
    font-size: 5.5rem;
    line-height: 7rem;
  }
  .home-content-buttons {
    padding-top: 5rem;
  }
  .social-list {
    top: 40%;
  }
  .about-disc {
    max-width: 90rem;
  }
  .cll-f p {
    font-size: 2.2rem;
  }
  .about-status {
    max-width: 80rem;
    padding: 2rem 0;
  }
  .block-1 {
    display: inline-block;
    width: 35%;
    margin: 3rem 0;
    padding: 0 3rem;
  }
  .about-status :nth-child(2) {
    border: none;
  }
  .section-heading {
    max-width: 80rem;
  }
  .service .s-h1 {
    color: #000000;
    font-size: 5rem;
    line-height: 5rem;
  }
  .service-list {
    max-width: 110rem;
  }
  .about-text .w-h1 {
    font-size: 5.4rem;
    line-height: 6rem;
  }
  .about-text .c-h1 {
    color: #000000;
    font-size: 5rem;
    line-height: 5rem;
  }
  .clints-outer {
    max-width: 110rem;
  }
  .testomonial-slide p {
    font-size: 2.8rem;
  }
  .contact-form {
    max-width: 90rem;
  }
}
/* BELOW 899PX */
@media only screen and (max-width: 56.1875em) {
  .home-content-main {
    max-width: 65rem;
    padding-top: 20rem;
    padding-right: 6rem;
  }
  .home-content h1 {
    font-size: 5.2rem;
    line-height: 6.4rem;
  }
  .service .s-h1 {
    font-size: 4.6rem;
    line-height: 4.6rem;
  }
  .about-text h3 {
    font-size: 1.6rem;
  }
  .service-list {
    max-width: 50rem;
    text-align: center;
  }
  .service-list .block-1 {
    width: 90%;
    padding: 0 2rem;
  }
  .service-icon {
    float: none;
    margin-bottom: 2.2rem;
  }
  .service-text {
    margin-left: 0;
  }
  .about-text .w-h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  .work-row {
    max-width: 110rem;
    width: 90%;
  }
  .about-text .c-h1 {
    font-size: 4.5rem;
  }
  .section-heading {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
  }
  .clint-img {
    padding: 0rem;
  }
  .clints {
    height: 20rem;
  }
  .side-arrow {
    top: 43rem;
  }
  .clint-testomonial {
    margin: 0 5%;
  }
  .testomonial-slide p {
    font-size: 2.4rem;
    line-height: 4rem;
  }
  .about-text .w-h1 {
    font-size: 4.6rem;
  }
  .section-heading {
    margin-bottom: 5rem;
  }
  .contact-primary,
  .contact-secondery {
    float: none;
    width: 100%;
  }
  .contact-primary {
    padding-bottom: 9.4rem;
  }
  .contact-secondery::before {
    display: none;
  }
  .contact-form {
    max-width: 70rem;
  }
}
/* BELOW 699PX */
@media only screen and (max-width: 43.6875em) {
  .home-content-main {
    max-width: 50rem;
    padding-right: 6rem;
  }
  .home-content h3 {
    font-size: 1.6rem;
  }
  .home-content h1 {
    font-size: 4.2rem;
    line-height: 6rem;
  }
  .home-content-buttons .btn {
    width: 15rem;
    font-size: 1.4rem;
  }
  .about-disc {
    max-width: 60rem;
  }
  .section-heading {
    max-width: 60rem;
    margin-bottom: 2rem;
  }
  .service .s-h1 {
    font-size: 3.6rem;
    line-height: 4.2rem;
  }
  .about-text .w-h1 {
    font-size: 4rem;
  }
  .work-row {
    width: 85%;
  }
  .section-heading::before {
    width: 65rem;
    left: 15rem;
  }
  .footer-main {
    flex-direction: column;
    max-width: 60rem;
  }
  .coll-footer {
    margin-bottom: 4.4rem;
    width: 100%;
  }
  .coll-footer:last-child {
    margin-bottom: 0rem;
  }
}
