/* BELOW 1199PX */
@media only screen and (max-width: 74.9375em) {
  html {
    font-size: 60.5%;
  }
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
  #home {
    padding-top: 40rem;
    height: 77vh !important;
  }
  .home-content-main {
    max-width: 80rem;
    padding-top: 20rem;
  }
  .home-content h3 {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .home-content h1 {
    font-size: 5.5rem;
    line-height: 7rem;
  }
  .home-content-buttons {
    padding-top: 5rem;
  }
  .social-list {
    top: 40%;
  }
  .about-disc {
    max-width: 90rem;
  }
  .cll-f p {
    font-size: 2.2rem;
  }
  .about-status {
    max-width: 80rem;
    padding: 2rem 0;
  }
  .block-1 {
    display: inline-block;
    width: 35%;
    margin: 3rem 0;
    padding: 0 3rem;
  }
  .about-status :nth-child(2) {
    border: none;
  }
  .section-heading {
    max-width: 80rem;
  }
  .service .s-h1 {
    color: #000000;
    font-size: 5rem;
    line-height: 5rem;
  }
  .service-list {
    max-width: 110rem;
  }
  .about-text .w-h1 {
    font-size: 5.4rem;
    line-height: 6rem;
  }
  .about-text .c-h1 {
    color: #000000;
    font-size: 5rem;
    line-height: 5rem;
  }
  .clints-outer {
    max-width: 110rem;
  }
  .testomonial-slide p {
    font-size: 2.8rem;
  }
  .contact-form {
    max-width: 90rem;
  }
}
/* BELOW 899PX */
@media only screen and (max-width: 56.1875em) {
  .home-content-main {
    max-width: 65rem;
    padding-top: 20rem;
    padding-right: 6rem;
  }
  .home-content h1 {
    font-size: 5.2rem;
    line-height: 6.4rem;
  }
  .service .s-h1 {
    font-size: 4.6rem;
    line-height: 4.6rem;
  }
  .about-text h3 {
    font-size: 1.6rem;
  }
  .service-list {
    max-width: 50rem;
    text-align: center;
  }
  .service-list .block-1 {
    width: 90%;
    padding: 0 2rem;
  }
  .service-icon {
    float: none;
    margin-bottom: 2.2rem;
  }
  .service-text {
    margin-left: 0;
  }
  .about-text .w-h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
  .work-row {
    max-width: 110rem;
    width: 90%;
  }
  .about-text .c-h1 {
    font-size: 4rem;
  }
  .section-heading {
    margin-bottom: 3rem;
    padding-bottom: 3rem;
  }
  .clint-img {
    padding: 0rem;
  }
  .clints {
    height: 20rem;
  }
  .side-arrow {
    top: 43rem;
  }
  .clint-testomonial {
    margin: 0 5%;
  }
  .testomonial-slide p {
    font-size: 2.4rem;
    line-height: 4rem;
  }
  .about-text .w-h1 {
    font-size: 4.6rem;
  }
  .section-heading {
    margin-bottom: 5rem;
  }
  .contact-primary,
  .contact-secondery {
    float: none;
    width: 100%;
  }
  .contact-primary {
    padding-bottom: 9.4rem;
  }
  .contact-secondery::before {
    display: none;
  }
  .contact-form {
    max-width: 70rem;
  }
}
/* BELOW 699PX */
@media only screen and (max-width: 43.6875em) {
  .home-content-main {
    max-width: 50rem;
    padding-right: 6rem;
  }
  .home-content h3 {
    font-size: 1.6rem;
  }
  .home-content h1 {
    font-size: 4.2rem;
    line-height: 6rem;
  }
  .home-content-buttons .btn {
    width: 15rem;
    font-size: 1.4rem;
  }
  .about-disc {
    max-width: 60rem;
  }
  .section-heading {
    max-width: 60rem;
    margin-bottom: 2rem;
  }
  .service .s-h1 {
    font-size: 3.6rem;
    line-height: 4.2rem;
  }
  .about-text .w-h1 {
    font-size: 4rem;
  }
  .work-row {
    width: 85%;
  }
  .section-heading::before {
    width: 65rem;
    left: 15rem;
  }
  .footer-main {
    flex-direction: column;
    max-width: 60rem;
  }
  .coll-footer {
    margin-bottom: 4.4rem;
    width: 100%;
  }
  .coll-footer:last-child {
    margin-bottom: 0rem;
  }
}
/* BELOW 599PX */
@media only screen and (max-width: 37.4375em) {
  .home-content-main {
    max-width: 45rem;
    padding-left: 2rem;
    padding-top: 23rem;
  }
  .home-content h3 {
    font-size: 1.4rem;
  }
  .home-content h1 {
    font-size: 3.8rem;
    line-height: 5rem;
  }
  .home-content-buttons {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .home-content-buttons .btn {
    width: 20rem;
    font-size: 1.5rem;
  }
  .social-list i {
    border: none;
    font-size: 2rem;
  }
  .social-list {
    right: 2.4rem;
  }
  .section-heading {
    max-width: 50rem;
  }
  .about-text h3 {
    font-size: 1.4rem;
  }
  .about-text h1 {
    font-size: 5.8rem;
  }
  .section-heading::before {
    width: 30rem;
    left: 12rem;
  }
  .about-disc {
    max-width: 55rem;
  }
  .cll-f p {
    font-size: 2rem;
    line-height: 3rem;
  }
  .block-1 {
    width: 50%;
    padding: 0;
  }
  .service .s-h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .about-text .w-h1 {
    font-size: 3.5rem;
    line-height: 4rem;
  }
  .album {
    column-count: 1;
    column-gap: 0;
  }
  .about-text .c-h1 {
    font-size: 3.8rem;
    line-height: 4rem;
  }
}
/* BELOW 499PX */
@media only screen and (max-width: 31.1875em) {
  .social-list {
    display: none;
    opacity: none;
    visibility: hidden;
  }
  .home-content-main {
    max-width: 37rem;
    padding-left: 3rem;
    padding-top: 15rem;
    text-align: center;
    padding-right: 4rem;
  }
  .home-content h1 {
    font-size: 3.2rem;
  }
  .home-content-buttons .btn {
    width: 30rem;
    font-size: 1.5rem;
    height: 6rem;
  }
  .home-content-buttons {
    gap: 3rem;
    align-items: center;
  }
  .btn-1 {
    margin-right: 0rem;
  }
}
/* BELOW 399PX */
@media only screen and (max-width: 24.9375em) {
  .header-menu-text {
    display: none;
}
.header-menu-toggle {
  top: 5rem;
  right: 4rem;
  height: 4rem;
}
.header-menu-icon {
  font-size: 2.3rem;
}
.home-content-main {
 width: auto;
}
.home-content h3 {
 font-size: 2rem;      
}
.about-text h3 {
  margin-bottom: 0rem;
}
.home-content h1 {
  font-size: 2.8rem;
  line-height: 3.8rem;
}
.about-text h1 {
  font-size: 4.4rem;
}
.section-heading {
  max-width: 35rem;
}
.service .s-h1 {
  font-size: 3rem; 
}
.about-text .c-h1 {
 font-size: 3.5rem;
}
.side-arrow {
 display: none;
}
.testomonial-slide p {
  font-size: 2.2rem;
  line-height: 3rem;
}
.contact-primary, .contact-secondery {
  text-align: center;
}
.subscribe-form form input[type="submit"] {
    width: 100%;
    margin-top: 6rem;
}
.subscribe-form form input[type="email"] {
    padding-right: 0rem;
}
.coll-f {
    padding-top: 3rem;
}
.copyright .f-span::after {
    display: none;
}
.f-span{
  margin-bottom: 1rem;
}
}
