/* *********** */
/* HEADER SECTION */
/* *********** */
.header-s {
  width: 100%;
  height: 9.6rem;
  background: transparent;
  position: absolute;
  z-index: 100;
}
.header-logo {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 5rem;
}
.header-logo-a {
  display: block;
  width: 8rem;
}
.header-menu-toggle {
  position: fixed;
  top: 5rem;
  right: 6rem;
  height: 4rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  background: #000000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "montserrat-medium", sans-serif;
  color: #39b54a;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.header-menu-text {
  position: static;
  margin: 0;
  padding: 0;
}
.header-menu-icon {
  position: static;
  font-size: 2rem;
  color: #fff;
}

/* *********** */
/* HOME SECTION */
/* *********** */
#home {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 15rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
}
.overlay-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  opacity: 0.9;
}
.home-content {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.row {
  width: 94%;
  max-width: 120rem;
  margin: 0 auto;
}
.home-content h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.2rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  line-height: 4rem;
  margin-left: 0.7rem;
  margin-bottom: 1rem;
}
.home-content h1 {
  color: #ffffff;
  font-size: 6.2rem;
  line-height: 8rem;
  margin-bottom: 2.4rem;
}
.home-content-main {
  padding-top: 10rem;
}
.home-content-buttons {
  padding-top: 6rem;
  text-align: left;
}
.home-content-buttons .btn {
  color: #ffffff;
  width: 20rem;
  height: 5rem;
  display: inline-block;
  font-size: 1.6rem;
  padding: 0 2rem;
  line-height: calc(5.4rem - 0.4rem);
  border: 0.2rem solid #c5c5c5;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
}
.home-content-buttons .btn:hover {
  background-color: #fff;
  color: #000000;
}
.btn-1 {
  margin-right: 2rem;
}
.home-content-scroll {
  position: absolute;
  bottom: 10rem;
  right: 10rem;
}
.scroll {
  position: relative;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;
  font-family: "montserrat-semibold", sans-serif;
}
.scroll::before {
  position: absolute;
  display: block;
  content: "";
  border-bottom: 2px solid #39b54a;
  border-right: 2px solid #39b54a;
  height: 0.8rem;
  width: 0.8rem;
  transform: rotate(45deg);
  top: 0rem;
  left: -3rem;
}
.home-content-line {
  position: absolute;
  width: 0.2rem;
  height: 11rem;
  background-color: #39b54a;
  bottom: 0;
  right: 8rem;
}
/* *********** */
/* SOCIAL SECTION */
/* *********** */
.social-list {
  position: absolute;
  top: 35%;
  right: 5.4rem;
}
.social-list li {
  position: relative;
  padding-bottom: 2.2rem;
}
.social-list li a {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  color: #fff;
  position: relative;
}
.social-list i {
  height: 3rem;
  width: 3rem;
  border: 2px solid #ffffff;
  text-align: center;
  border-radius: 50%;
  font-size: 1.2rem;
  line-height: 3rem;
}
.social-text {
  position: absolute;
  color: #39b54a;
  right: 6.2rem;
  top: 30%;
  font-weight: 600;
  font-size: 1.1rem;
  transform-origin: 100% 50%;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
}
.social-list li a:hover .social-text {
  opacity: 1;
}
/* *********** */
/* ABOUT SECTION */
/* *********** */
.about-line {
  position: absolute;
  content: "";
  width: 0.2rem;
  height: 11rem;
  background-color: #fff;
  top: 0;
  right: 8rem;
}
#about {
  background-color: #39b54a;
  padding-top: 15rem;
  padding-bottom: 9rem;
  position: relative;
}
.section-heading {
  position: relative;
  text-align: center;
  max-width: 96rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
}
.section-heading::before {
  position: absolute;
  content: "";
  width: 60rem;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.25);
  bottom: 0px;
  left: 19rem;
}
.about-text h3 {
  font-size: 1.8rem;
  color: #000000;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 600;
}
.about-text h1 {
  font-size: 6.8rem;
  color: #fff;
  line-height: 7rem;
  padding-bottom: 2rem;
}
.about-disc {
  max-width: 96rem;
  margin: 0 auto;
}
.cll-f {
  padding: 0 2rem;
  text-align: center;
}
.cll-f p {
  font-size: 2.4rem;
  line-height: 3.4rem;
  margin-bottom: 3rem;
}
.about-status {
  text-align: center;
  white-space: normal;
  padding-top: 3rem;
}
.block-1 {
  display: inline-block;
  width: 20%;
  margin: 3rem 0;
  padding: 0 1rem;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}
.block-1:last-child {
  border-right: none;
}
.status-count {
  color: #fff;
  font-size: 9.4rem;
  line-height: 8rem;
  font-weight: 600;
}
.block-1 h5 {
  margin: 2rem 0;
  font-size: 1.8rem;
}
/* *********** */
/* SEVICE SECTION */
/* *********** */
#service {
  padding-top: 16rem;
  padding-bottom: 13rem;
  color: #757575;
  background-color: #fff;
}
.service .s-h3 {
  color: #39b54a;
}
.service .s-h1 {
  color: #000000;
  font-size: 5.4rem;
}

.service-list .block-1 {
  width: 45%;
  padding: 0 2rem;
}

.service-icon {
  float: left;
  color: #39b54a;
  font-size: 4.8rem;
}
.service-text {
  margin-left: 7.2rem;
}
.service-text h3 {
  font-size: 2.6rem;
  color: #000000;
  line-height: 2rem;
  margin-bottom: 3rem;
}
.service-text p {
  font-size: 1.8rem;
  line-height: 3rem;
}
/* *********** */
/* WORK SECTION */
/* *********** */
.work-s {
  min-height: 80rem;
  background-color: #ffffff;
  padding-bottom: 5rem;
  position: relative;
}
.intro {
  background-color: #000000;
  padding: 10rem 0 15rem;
}
.about-text .w-h3 {
  color: #39b54a;
}
.about-text .w-h1 {
  font-size: 6rem;
}
.work-row {
  max-width: 110rem;
  margin-top: -15rem;
}
.cll-full {
  width: 100%;
  padding: 0 1rem;
}

.album {
  column-count: 2;
  column-gap: 0;
}
.album-img {
  width: 100%;
  margin: 0;
  break-inside: avoid;
}
.item-dolio-thumb img {
  width: 100%;
  height: auto;
  display: block;
}
.item-folio {
  position: relative;
  overflow: hidden;
}
.item-dolio-thumb img {
  transition: all 0.3s ease-in-out;
}
.item-folio:hover .item-dolio-thumb img {
  transform: scale(1.05);
}
.item-dolio-thumb a::before {
  position: absolute;
  display: block;
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.item-dolio-thumb a:hover::before {
  opacity: 1;
  visibility: visible;
}
.item-dolio-thumb a::after {
  position: absolute;
  display: block;
  content: "+";
  font-size: 2.8rem;
  font-weight: 400;
  top: 50%;
  left: 50%;
  height: 1rem;
  width: 1rem;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.item-dolio-thumb a:hover::after {
  opacity: 1;
  visibility: visible;
}
.item-folio-text {
  display: block;
  position: absolute;
  left: 0;
  bottom: 3rem;
  padding: 0 3.2rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.item-folio:hover .item-folio-text {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
}
.item-folio-title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0.4rem;
  line-height: 2rem;
}
.item-folio-p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2rem;
}
.item-folio-link {
  display: block;
  position: absolute;
  color: #ffffff;
  box-shadow: 0 0 0 1px #ffffff;
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  top: 3rem;
  left: 3rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  z-index: 2;
}
.item-folio:hover .item-folio-link {
  opacity: 1;
  visibility: visible;
}
.item-folio-link:hover {
  color: #000000;
  background-color: #fff;
}
.item-folio-link::before {
  display: block;
  content: "";
  position: absolute;
  color: #ffffff;
  height: 3rem;
  width: 0.1rem;
  top: -3rem;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.icon-link {
  display: block;
  position: absolute;
  top: 37%;
  left: 33%;
  font-size: 1.2rem;
}
/* *********** */
/* CLINT SECTION */
/* *********** */
.clint-s {
  padding-top: 16rem;
  padding-bottom: 16.8rem;
  background-color: #e6e6e6;
  color: #757575;
}
.about-text .c-h3 {
  color: #39b54a;
}
.about-text .c-h1 {
  color: #000000;
  font-size: 5.8rem;
  line-height: 6rem;
}
.clints-outer {
  margin-top: 3.6rem;
  text-align: center;
  position: relative;
}
.col-full {
  padding: 0 2rem;
}
.clint-img {
  height: 100%;
  float: left;
  min-height: 0.1rem;
  opacity: 0.55;
  padding: 1.5rem 2.8rem;
  transition: all 0.4s;
}
.clint-img:hover {
  opacity: initial;
}
.list-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 2rem;
}
.clints {
  height: 25rem;
}
.dots {
  display: block;
  margin-top: 1rem;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.dots li {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding: 0.6rem;
}
.dots li button {
  display: block;
  width: 1rem;
  height: 1rem;
  background: #959595;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}
.dots li button:hover {
  background: #39b54a;
}
.clint-testomonial {
  margin: 0 10%;
}
.clints-testomonail {
  padding-top: 5rem;
  margin-top: 8rem;
  text-align: center;
}
.testomonial-slide p {
  font-size: 3rem;
  line-height: 5rem;
  color: #555555;
  margin-bottom: 5rem;
}
.testomonial-avatar {
  margin: 0 0 auto 0;
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
}
.testomonial-name {
  color: #000000;
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 4rem;
}
.testomonial-post {
  color: #757575;
  font-size: 1.5rem;
}
.arrow {
  position: relative;
}
.clint-testomonial .side-prev {
  background-image: url(images/left-arrow.png);
  left: 3rem;
}
.clint-testomonial .side-next {
  background-image: url(images/right-arrow.png);
  right: 3rem;
}
.side-arrow {
  position: absolute;
  top: 9rem;
  width: 6rem;
  height: 6rem;
  background: no-repeat;
  background-size: 22px 15px;
  border: none;
  color: transparent;
  cursor: pointer;
}
/* *********** */
/* CONTACT SECTION */
/* *********** */
.contact-s {
  padding-top: 15rem;
  padding-bottom: 12rem;
  position: relative;
  background-image: url(images/contact-bg.jpg);
  background-size: cover;
  background-position: center, center;
  background-repeat: no-repeat;
  color: rgba(255, 255, 255, 0.5);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #151515;
  opacity: 0.7;
}
.contact-line {
  display: block;
  position: absolute;
  width: 0.2rem;
  height: 21rem;
  background-color: #39b54a;
  top: -10rem;
  left: 50%;
}
.contact-s .section-heading::before {
  position: initial;
}
.contact-s .section-heading {
  padding-bottom: 0;
}
.contact-form {
  max-width: 100rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.4);
  padding: 8rem 0;
  position: relative;
}
.contact-primary {
  width: 65%;
}
.contact-secondery {
  width: 35%;
}
.contact-secondery::before {
  display: block;
  position: absolute;
  background-color: #121212;
  width: 35%;
  top: 0;
  bottom: 0;
  right: 0;
  content: "";
}
.contact-primary,
.contact-secondery {
  float: left;
}
.contact-h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.15rem;
  margin-bottom: 5rem;
  display: block;
  line-height: 1.4rem;
}
.contact-secondery .contact-info {
  position: relative;
  padding: 0 5rem;
}
.form-info {
  padding: 0 5rem;
}
.contact-info .contact-h3 {
  margin-bottom: 6rem;
}
.cric-info {
  margin-bottom: 5rem;
}
.cric-info h5 {
  color: #39b54a;
  font-size: 1.5rem;
  margin-bottom: 2.4rem;
}
.cric-info p {
  font-size: 1.4rem;
  line-height: 2.6rem;
}
.contact-scocial li {
  display: inline-block;
  margin-right: 1.5rem;
}
.contact-scocial li:last-child {
  margin-right: 0;
}
.contact-scocial li a {
  color: #fff;
  font-size: 1.8rem;
  transition: all 0.2s;
}
.contact-scocial li a:hover {
  color: #39b54a;
}
.s-contact .field:after {
  content: "";
  display: table;
  clear: both;
}
.full-widht {
  width: 100%;
}
.field {
  position: relative;
}
.field input {
  font-size: 1.4rem;
  display: block;
  background: transparent;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  height: 7rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}
.field input {
  font-size: 1.4rem;
  display: block;
  background: transparent;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  height: 7rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  transition: all 0.3s ease-in-out;
}
.field input:focus {
  border-bottom: 1px solid #39b54a;
  color: #ffffff;
}
.field textarea {
  font-size: 1.4rem;
  display: block;
  background: transparent;
  border: none;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
  height: 15rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  transition: all 0.3s ease-in-out;
}
.field textarea:focus {
  border-bottom: 1px solid #39b54a;
  color: #ffffff;
}
.btn-main {
  margin-top: 4.2rem;
  background-color: #39b54a;
  color: #ffffff;
  border: none;
  outline: none;
  height: 6rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  transition: all 0.2s;
}
.btn-main:hover {
  background-color: #33a242;
}
/* *********** */
/* FOOTER SECTION */
/* *********** */
footer {
  padding: 11rem 0 8rem;
  background-color: #111111;
  color: rgba(255, 255, 255, 0.3);
}
.footer-main {
  max-width: 98rem;
  text-align: left;
  display: flex;
}
.coll-footer {
  flex: 0 0 auto;
  width: 50%;
}
.footer-logo img {
  height: auto;
  width: 10rem;
  margin-bottom: 2.8rem;
}
.footer-p {
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.left {
  padding-left: 2rem;
  padding-right: 4rem;
}
.right {
  padding-right: 2rem;
  padding-left: 4rem;
}
.f-h4 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 3.8rem;
}
.right p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  margin-bottom: 3rem;
}
.subscribe-form {
  position: relative;
}
.subscribe-form form input[type="email"] {
  width: 100%;
  font-size: 1.5rem;
  color: #ffffff;
  padding-right: 15rem;
  padding-left: 5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: transparent;
  box-sizing: border-box;
  height: 5rem;
  border: none;
  outline: none;
}
.subscribe-form form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  height: 5rem;
  padding: 0 2rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  background-color: #33a242;
  color: #ffffff;
  border: none;
}
.email-icon {
  position: absolute;
  top: 1.3rem;
  left: 0.7rem;
  width: 3rem;
  height: 3rem;
}
.footer-bottom {
  max-width: 100rem;
  margin-top: 7rem;
  text-align: center;
}
.coll-f {
  padding: 0 2rem;
}
.copyright span {
  display: inline-block;
  color: rgba(255, 255, 255, 0.3);
  font-size: 1.5rem;
}
.copyright .f-span::after {
  display: inline-block;
  content: "|";
  padding: 0 1rem;
  color: rgba(255, 255, 255, 0.3);
}
.f-link {
  color: #fff;
  transition: all 0.3s;
}
.f-link:hover {
  color: #39b54a;
}
