/* *********** */
/* HEADER SECTION */
/* *********** */
.header-s {
  width: 100%;
  height: 9.6rem;
  background: transparent;
  position: absolute;
  z-index: 100;
}
.header-logo {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 5rem;
}
.header-logo-a {
  display: block;
  width: 8rem;
}
.header-toggle {
  position: fixed;
  top: 5rem;
  right: 6rem;
  height: 2rem;
  width: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "montserrat-medium", sans-serif;
  color: #39b54a;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.header-menu-text {
  display: block;
  position: absolute;
  top: 0;
  left: -7rem;
  width: 5rem;
  padding-left: 1rem;
  line-height: 2rem;
  margin-top: 0.5rem;
}
.header-menu-icon {
  display: block;
  position: absolute;
  color: #fff;
  font-size: 2.6rem;
}
/* *********** */
/* HOME SECTION */
/* *********** */
#home {
  width: 100%;
  height: 100%;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.6;
}
.overlay-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
  opacity: 0.6;
}
.home-content {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.row {
  width: 94%;
  max-width: 120rem;
  margin: 0 auto;
}
.home-content h3 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 2.2rem;
  letter-spacing: 0.5rem;
  font-weight: 600;
  line-height: 4rem;
  margin-left: 0.7rem;
  margin-bottom: 1rem;
}
.home-content h1 {
  color: #ffffff;
  font-size: 6.2rem;
  line-height: 8rem;
  margin-bottom: 2.4rem;
}
.home-content-main {
  padding-top: 20rem;
}
.home-content-buttons {
  padding-top: 6rem;
  text-align: left;
}
.home-content-buttons .btn {
  color: #ffffff;
  width: 20rem;
  height: 5rem;
  display: inline-block;
  font-size: 1.6rem;
  padding: 0 2rem;
  line-height: calc(5.4rem - 0.4rem);
  border: 0.2rem solid #c5c5c5;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
}
.home-content-buttons .btn:hover {
  background-color: #fff;
  color: #000000;
}
.btn-1 {
  margin-right: 2rem;
}
.home-content-scroll {
  position: absolute;
  bottom: 10rem;
  right: 10rem;
}
.scroll {
  position: relative;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;
  font-family: "montserrat-semibold", sans-serif;
}
.scroll::before {
  position: absolute;
  display: block;
  content: "";
  border-bottom: 2px solid #39b54a;
  border-right: 2px solid #39b54a;
  height: 0.8rem;
  width: 0.8rem;
  transform: rotate(45deg);
  top: 0rem;
  left: -3rem;
}
.home-content-line {
  position: absolute;
  width: 0.2rem;
  height: 11rem;
  background-color: #39b54a;
  bottom: 0;
  right: 8rem;
}
/* *********** */
/* SOCIAL SECTION */
/* *********** */
.social-list {
  position: absolute;
  top: 35%;
  right: 5.4rem;
}
.social-list li {
  position: relative;
  padding-bottom: 2.2rem;
}
.social-list li a {
  display: inline-block;
  height: 4rem;
  width: 4rem;
  color: #fff;
  position: relative;
}
.social-list i {
  height: 3rem;
  width: 3rem;
  border: 2px solid #ffffff;
  text-align: center;
  border-radius: 50%;
  font-size: 1.2rem;
  line-height: 3rem;
}
.social-text {
  position: absolute;
  color: #39b54a;
  right: 6.2rem;
  top: 30%;
  font-weight: 600;
  font-size: 1.1rem;
  transform-origin: 100% 50%;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s ease;
}
.social-list li a:hover .social-text {
  opacity: 1;
}
/* *********** */
/* ABOUT SECTION */
/* *********** */
.about-line {
  position: absolute;
  content: "";
  width: 0.2rem;
  height: 11rem;
  background-color: #fff;
  top: 0;
  right: 8rem;
}
#about {
  background-color: #39b54a;
  padding-top: 16rem;
  padding-bottom: 7rem;
  position: relative;
}
.about-heading {
  position: relative;
  text-align: center;
  max-width: 96rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
}
.about-heading::before {
  position: absolute;
  content: "";
  width: 60rem;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.25);
  bottom: 0px;
  left: 19rem;
}
.about-text h3 {
  font-size: 1.8rem;
  color: #000000;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 600;
}
.about-text h1 {
  font-size: 6.8rem;
  color: #fff;
  line-height: 7rem;
  padding-bottom: 2rem;
}
.about-disc {
  max-width: 96rem;
  margin: 0 auto;
}
.cll-f {
  padding: 0 2rem;
  text-align: center;
}
.cll-f p {
  font-size: 2.4rem;
  line-height: 3.4rem;
  margin-bottom: 3rem;
}
